.alertify {
  background: white;
  border: 1px solid #8e8e8e;
  /* browsers that don't support rgba */
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding;
  /* Safari 4? Chrome 6? */
  -moz-background-clip: padding;
  /* Firefox 3.6 */
  background-clip: padding-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */

}
.alertify-log {
  background: #d9edf7;
  padding: 8px 14px;
  color: #3a8abf;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #bce8f1;
}
.alertify-log-error {
  color: #b94a48;
  background: #f2dede;
  border: 1px solid #eed3d7;
}
.alertify-log-success {
  color: #468847;
  background: #dff0d8;
  border: 1px solid #d6e9c6;
}
