/*
|-------------------------------------------------------------------------
|	banco-ideas-list
|-------------------------------------------------------------------------
*/

@bg-container : #111;
@bg-idea : rgba(255, 255, 255, 0.78);

.banco-ideas-container{
	float: left;
	width: 100%;
	background:@bg-container;
	@media @desktop, @desktop-xl{
		padding: 30px;
	}
	padding: 15px;

	h2{
		color:#EE3A4F;
		text-transform:uppercase;
		text-align: center;
		font-size: 24px;
	}
	h4{
		text-align: center;
		color:#fff;
		font-weight: normal;
		line-height: 28px;
	}
	hr{
		display: block;
		width: 100%;
		margin: 15px 0 15px 0;
	}
}

#banco-ideas-list{

	div{
		float: left;
		width: 100%;
		margin-bottom: 15px;
	}
	p{
		width: 100%;
		position: relative;
		display: block;
		background: @bg-idea;
		padding: 10px;
		margin: 0 0 0 0;
		font-size: 0.9em;
		margin-bottom: 10px;
	}
	a{
		color:#ee3a4f;
		float: right;
		margin-right: 10px;
		&:hover{
			text-decoration: none;
		}
	}

	.btn{
		color:#fff;
		margin:0  0 15px 0;

		@media @desktop, @desktop-xl{
			padding: 5px 30px 5px 30px;
		}
		display: block;
		float: right;
		border-radius: 2px;
	}
}

/*
|-------------------------------------------------------------------------
|	container-idea-comments
|-------------------------------------------------------------------------
*/

.container-idea-comments{
	background: @bg-container;
	color: #fff;
	padding: 30px;

	h3{
		color: #ee3a4f;
	}
	hr{
		border-color: #333;
	}
	.by{
	width: 100%;
	display: block;
	color:#ee3a4f;
	font-weight: bold;
		i{
			color: #888;
				font-weight: normal;
		}
	}
}

.idea{
	.by{
		width: 100%;
		display: block;
		color:#EE3A4F;
	}
	p{
		color: #333;
		width: 100%;
		position: relative;
		display: block;
		background: @bg-idea;
		padding: 10px;
		margin: 0 0 0 0;
		font-size: 0.9em;
		margin-bottom: 10px;
	}
	a{
		color:#ee3a4f;
		float: right;
		margin-right: 10px;
		&:hover{
			text-decoration: none;
		}
	}

	.btn{
		color:#fff;
		margin:0  0 15px 0;
		@media @desktop, @desktop-xl{
			padding: 5px 30px 5px 30px;
		}
		display: block;
		float: right;
		border-radius: 2px;
	}
}

/*
|-------------------------------------------------------------------------
|	idea-comments
|-------------------------------------------------------------------------
*/
.idea-comments{
	width: 100%;
	margin-top: 45px;
	h3{
		color: #EE3A4F;
		font-size: 18px;
	}
	p{
		color: #fff;
	}
	span{
		color: #EE3A4F;
	}
}

.comment{
	background: rgba(255, 255, 255, 0.1);
	padding: 5px;
	margin-bottom: 5px;
}

.fb-like-container{
	width: 50px;
	display: block;
	margin: 0 auto;
}