/*
|-------------------------------------------------------------------------
|	menu
|-------------------------------------------------------------------------
*/

.menu{
	float: left;
	margin-bottom: 15px;
	ul{
		width: 100%;
		height: 50px;
		display: block;
		background: #111;
		padding: 7px 0  0;
		li{
			list-style: none;
			float: left;
			width: 207px;
			padding: 0;
			&:first-child{
				border: none;
				width: 100px;

				a{
					padding-top: 5px;
				}
			}
			&:last-child{
                a{
                    border: none;
                }

				}
			a{
				padding-top: 8px;
				height: 35px;
				display: block;
				margin: 0;
				border-right: 1px solid #D85B5B;
				color:#fff;
				text-align: center;
				text-transform:uppercase;
				font-weight: 700;
				&:hover{
					text-decoration: none;
					color:#AF2C3F;
				}

			}

		}
	}
}

// .linkAgenda{
// 	background: @btn-link-1-color;
// }

// .link_2{
// 	background: @btn-link-2-color;
// }

// .link_3{
// 	background: @btn-link-3-color;
// }

// .link_4{
// 	background: @btn-link-4-color;
// }

.link_5{
	border: none !important;
}


/*
|-------------------------------------------------------------------------
|	menu mobile
|-------------------------------------------------------------------------
*/

.sidr {
    display:none;
    position:absolute;
    position:fixed;
    top:0;
    height:100%;
    z-index:999999;
    width:200px;
    overflow-x:none;
    overflow-y:auto;
    font-size:15px;
    background:  rgba(0, 1, 30, 0.5);
    color:#fff;
}
.sidr .sidr-inner {
    padding:0 0 15px
}
.sidr .sidr-inner>p {
    margin-left:15px;
    margin-right:15px
}
.sidr.right {
    left:auto;
    right:-260px
}
.sidr.left {
    left:-260px;
    right:auto
}
.sidr h1, .sidr h2, .sidr h3, .sidr h4, .sidr h5, .sidr h6 {
    font-size:11px;
    font-weight:normal;
    padding:0 15px;
    margin:0 0 5px;
    color:#fff;
    line-height:24px;
}
.sidr p {
    font-size:13px;
    margin:0 0 12px
}
.sidr p a {
    color:rgba(255, 255, 255, 0.9)
}
.sidr>p {
    margin-left:15px;
    margin-right:15px
}
.sidr ul {
    display:block;
    margin:0 0 15px;
    padding:0;
}
.sidr ul li {
    display:block;
    margin:0;
    line-height:48px;
    border-bottom: 1px solid #d85b5b;
    text-transform:uppercase;
}
.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active {
    border-top:none;
    color:#AF2C3F;
}
.sidr ul li:hover>a, .sidr ul li:hover>span, .sidr ul li.active>a, .sidr ul li.active>span, .sidr ul li.sidr-class-active>a, .sidr ul li.sidr-class-active>span {
  color:#AF2C3F;
}
.sidr ul li a, .sidr ul li span {
    padding:0 15px;
    display:block;
    text-decoration:none;
    color:#fff
}
.sidr ul li ul {
    border-bottom:none;
    margin:0
}
.sidr ul li ul li {
    line-height:40px;
    font-size:13px
}
.sidr ul li ul li:last-child {
    border-bottom:none
}
.sidr ul li ul li:hover, .sidr ul li ul li.active, .sidr ul li ul li.sidr-class-active {
    border-top:none;
    line-height:41px
}
.sidr ul li ul li:hover>a, .sidr ul li ul li:hover>span, .sidr ul li ul li.active>a, .sidr ul li ul li.active>span, .sidr ul li ul li.sidr-class-active>a, .sidr ul li ul li.sidr-class-active>span {

}
.sidr ul li ul li a, .sidr ul li ul li span {
    color:rgba(255, 255, 255, 0.8);
    padding-left:30px
}
.sidr form {
    margin:0 15px
}
.sidr label {
    font-size:13px
}
.sidr input[type="text"], .sidr input[type="password"], .sidr input[type="date"], .sidr input[type="datetime"], .sidr input[type="email"], .sidr input[type="number"], .sidr input[type="search"], .sidr input[type="tel"], .sidr input[type="time"], .sidr input[type="url"], .sidr textarea, .sidr select {
    width:100%;
    font-size:13px;
    padding:5px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:0 0 10px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    -ms-border-radius:2px;
    -o-border-radius:2px;
    border-radius:2px;
    border:none;
    background:rgba(0, 0, 0, 0.1);
    color:rgba(255, 255, 255, 0.6);
    display:block;
    clear:both
}
.sidr input[type=checkbox] {
    width:auto;
    display:inline;
    clear:none
}
.sidr input[type=button], .sidr input[type=submit] {
    color:#333;
    background:#fff
}
.sidr input[type=button]:hover, .sidr input[type=submit]:hover {
    background:rgba(255, 255, 255, 0.9)
}
