
/*
|-------------------------------------------------------------------------
|  posts
|-------------------------------------------------------------------------
*/
.row{

	.post{
		position: relative;
		@media @desktop, @desktop-xl {
			padding: 0 !important;
		}
		padding-bottom: 10px;
		display: block;
		background: #111;
		margin:0 0 30px 0;
		.created_at{
			color:#EE3A4F;
		}
		h3{
			@media @tablet{
					margin-top: 30px;
				}
			a{
				text-decoration: none;
				color:#fff;
			}
			padding-bottom: 5px;
			border-bottom: 2px #555 solid;
			text-transform:uppercase;
			font-size: 16px;
			letter-spacing: 1px;
			font-weight: bold;
		}
		p{
			color:#999;
			font-size: 0.9em;
		}
		img{
			@media @tablet {
				width: 100%;
			}

			@media @mobile{
				display: none;
			}

			@media only screen and (min-width: 1028px) {
				margin-left: -15px;
			}
		}
	}

}

.btn-see-more{
	position: absolute;
	bottom: 0;
	right: 15px;
	background: url('../img/icon-see-more.png') transparent;
	width: 24px;
	height: 24px;
	display: block;
}

.see-more-posts{
	width: 100%;
	text-align: center;
	padding: 15px;
	background: #EE3A4F;
	color: #fff;
	display: block;
	&:hover{
		background: #AF2C3F;
		color:#fff;
	}
}