/*
|-------------------------------------------------------------------------
|	sidebar
|-------------------------------------------------------------------------
*/

.sidebar{
	background: #111;
	padding: 15px;
	@media @desktop-xl, @desktop{
		padding: 30px;
	}
	h3{
		color:#EE3A4F;
		text-align: center;
		margin: 5px 0 15px 0;
		text-transform:uppercase;
		font-size: 20px;
	}

	h5{
		text-align: center;
		color: #fff;
		line-height: 20px;
	}
}

/*
|-------------------------------------------------------------------------
|	tweets
|-------------------------------------------------------------------------
*/

.tweets-list{
	.media{
		background: rgba(1, 1, 1, 0.5);
		color:#fff;
		font-size: 0.9em;
		margin-bottom: 10px;
		padding: 5px;
		p{
			font-weight: normal;
		}
		a{
			color:#005AA9;
		}
	}
}

.title-twitter{
	margin-top: 30px !important;
}
.created_at{
	font-size: 0.8em;
	color:#747373;
}

/*
|-------------------------------------------------------------------------
|	ideas
|-------------------------------------------------------------------------
*/

#ideas-list{

	div{
		float: left;
		margin-bottom: 30px;
		width: 100%;
		&:first-child{

		}
	}
		p{
			width: 100%;
			position: relative;
			display: block;
			background: rgba(255, 255, 255, 0.78);
			padding: 10px;
			margin: 0 0 0 0;
			font-size: 0.9em;
		}

	.btn{
		margin:5px 0 0 0;
		float: right;
		@media @desktop, @desktop-xl{
			padding: 5px 30px 5px 30px;
		}
		border-radius: 2px;
		color: #fff;
	}

	a{
		color: #ee3a4f;
		float: right;
		margin:7px 10px 0 0;
	}
}
/*
|-------------------------------------------------------------------------
|	form idea
|-------------------------------------------------------------------------
*/

#idea_form_store{
	margin-bottom: 60px;
	input, textarea{
		background: #fff;
	}
}

