@import url('variables.less');
/*
|-------------------------------------------------------------------------
|   General
|-------------------------------------------------------------------------
*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
    .transition;
    background: #380404;
    // background: #430303;
    @media @desktop-xl, @desktop {
        background: url('../img/bg-flag1.jpg') #000 no-repeat fixed;
    }

    font-family: 'Lato', sans-serif;
}

li{
   list-style: none;
}

.container {
}

a {
    .transition;
}

input {
    .transition;
}
.label {
    border-radius: 0;
}

.row{
    .transition;
}

@import url('menu.less');
@import url('posts.less');
@import url('sidebar.less');
@import url('alertify.less');
@import url('calendar.less');
@import url('ideas.less');

/*
|-------------------------------------------------------------------------
|   forms
|-------------------------------------------------------------------------
*/
span#calendarTitle {
    display: none;
}
#header {
    h1, h2 {
        color:#fff;
    }
}
.motoa {
    width: 297px;
    height: 297px;
    float: right;
}
.form-control {
    border-radius: 0;
    background: @color_gray_1;
    box-shadow: none;
    border: none;
}
/*
|-------------------------------------------------------------------------
|   video container
|-------------------------------------------------------------------------
*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-bottom: 30px;
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/*
|-------------------------------------------------------------------------
|    modal
|-------------------------------------------------------------------------
*/
.modal-content {
    border-radius: 0;
}

.modal-header{
    background: #1e1e1e;
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.modal-title{
    img{
        margin-top: -5px;
    }
}
.modal-body{
    h2{
        text-align: center;

    }
    h2, h3{
        color: #ef394f;
    }
    hr{
        border-top: 1px solid #696969;
    }
}

.bio-intro{
    margin-top: 30px !important;
    font-size: 19px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: justify;
}

#bio{
    .modal-body{
        h2{
            font-size: 24px;
        }
        h3{
            font-size: 20px;
        }
        font-size: 16px;
        p{
            margin: 0 0 3px 0;
        }
    }
}

#contact{
    .modal-header{
        border-bottom: none;
    }
    .modal-body{
        color:#fff;
        text-align: center;
        form{
            margin-bottom: 60px;
        }
        h3{
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        background: #111;
        button{
            background: #EE3A4F;
            color:#fff;
            float: right;
        }
        hr{
            border-top: #686868 solid 1px;
        }
    }
}

#idea-comment{
  form{
    margin-bottom: 60px;
}
button{
    background: #EE3A4F;
    color:#fff;
    float: right;
}
}

#proposal{
    h2{
        color:#fff;
        text-align: left;
        position: absolute;
        text-transform: uppercase;
        top:60px;
        left: 30px;

    }
    .modal-dialog{
        @media @desktop, @desktop-xl{
            width: 800px;
        }
    }
    .modal-header{
        border: none;
    }
    .modal-body{
        padding: 0;
    }

    .panel-heading{
        color: #EE3A4F;
        background-color: #222;
        border-color: #222;
        border-radius: 0px;
    }

    .myTab{
        width: 100%;
        background: #222;
        float:left;
        height: 80px;
        .active{
            a{
                color:#fff;
            }
        }
        padding: 20px 0 0 0;
        li{
            height: 80px;
            width: 20%;
            float:left;
            a{
               border-right: 1px #333 solid;
               color:#EE3A4F;
               text-transform: uppercase;
               width: 100%;
               display: block;
               background: #222;
               line-height: 14px;
               text-align: center;
               font-size: 12px;
               &:hover{
                color:#fff;
                text-decoration: none;
            }
        }
        .center-link{
            padding: 5px 0 0 0;
        }

    }
}

.tab-content{
    .tab-pane{
        padding: 30px;
        font-size: 15px;
    }
}
}

#place-vote{
    iframe{
        width: 100%;
        min-height: 700px;
    }
    .modal-dialog{
        @media @desktop, @desktop-xl{
         width: 1028px;
     }

 }
}

.place-vote{
    font-size: 15px;
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;
    img{
        margin-right: 10px;
    }
    &:hover{
        color:#fff;
        text-decoration: none;
    }
}

.search-place-vote{
    margin-bottom: 60px;
}

.with-bullet li{
    list-style: square;
}
/*
|-------------------------------------------------------------------------
|    btns
|-------------------------------------------------------------------------
*/
.btn {
    border-radius: 0;
    border: none;
}
.btn-danger, .btn-primary {
    .disabled {
        background: #EE3A4F !important;
    }
    background: #EE3A4F;
    &:hover {
        background: #AF2C3F;
    }
}
.loading {
    display: none;
    background: @btn-link-2-color;
    width: 100%;
    padding: 5px 0 10px 0;
    margin-bottom: 15px;
    h3 {
        color: #fff;
        .transition;
        text-align: center;
        line-height: 0;
    }
}
#idea-text {
    position: relative;
    margin-bottom: -15px;
}
.counter {
    color: #ccc;
    position: relative;
    bottom: 5px;
    padding: 5px;
}
.motoa {
    margin: 15px 5px 0 0;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active{
    background: #EE3A4F !important;
}
.close{
    color:#fff;
    opacity: 1;
    &:hover{
        color:#ddd;
    }
}

footer{
    color:#eee;
    padding: 15px;
}

/*
|-------------------------------------------------------------------------
|   socia
|-------------------------------------------------------------------------
*/
.social{
    padding: 0;
    width: 100%;
    height: 47px;
    text-align: center;
    li{
        list-style: none;
        display: inline;
        margin-left: 5px;
        a{
            &:hover{
                opacity: 0.8;
            }
        }
    }
}

h4{
    color:#fff;
    text-align: center;
}

.icon-radical{
    margin:0 auto;
    width: 238px;
    display: block;
}

hr{
    border-top: 1px solid #696969;
}

/*
|-------------------------------------------------------------------------
|    Google maps
|-------------------------------------------------------------------------
*/

   .google-maps {
    margin-top: 15px;
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

/*
|-------------------------------------------------------------------------
|   Terms and conditions
|-------------------------------------------------------------------------
*/


#terms{
    h3{
      color: #fff;
    }
    h5{
        color:#fff;
    }
   color:#fff;
}

.single-post{
    background: #fff;
    padding:30px;
    color:#333;
    h3{
        padding-bottom: 15px;
        margin: 0;
    }
}