/*
|-------------------------------------------------------------------------
|	Variables
|-------------------------------------------------------------------------
*/
/*
|-------------------------------------------------------------------------
|   General
|-------------------------------------------------------------------------
*/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: #380404;
  font-family: 'Lato', sans-serif;
}
@media only screen and (min-width: 1129px), only screen and (min-width: 950px) and (max-width: 1128px) {
  body {
    background: url('../img/bg-flag1.jpg') black no-repeat fixed;
  }
}
li {
  list-style: none;
}
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
input {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.label {
  border-radius: 0;
}
.row {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
/*
|-------------------------------------------------------------------------
|	menu
|-------------------------------------------------------------------------
*/

.menu {
  float: left;
  margin-bottom: 15px;
}
.menu ul {
  width: 100%;
  height: 50px;
  display: block;
  background: #111111;
  padding: 7px 0  0;
}
.menu ul li {
  list-style: none;
  float: left;
  width: 207px;
  padding: 0;
}
.menu ul li:first-child {
  border: none;
  width: 100px;
}
.menu ul li:first-child a {
  padding-top: 5px;
}
.menu ul li:last-child a {
  border: none;
}
.menu ul li a {
  padding-top: 8px;
  height: 35px;
  display: block;
  margin: 0;
  border-right: 1px solid #d85b5b;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.menu ul li a:hover {
  text-decoration: none;
  color: #af2c3f;
}
.link_5 {
  border: none !important;
}
/*
|-------------------------------------------------------------------------
|	menu mobile
|-------------------------------------------------------------------------
*/

.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 200px;
  overflow-x: none;
  overflow-y: auto;
  font-size: 15px;
  background: rgba(0, 1, 30, 0.5);
  color: white;
}
.sidr .sidr-inner {
  padding: 0 0 15px;
}
.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px;
}
.sidr.right {
  left: auto;
  right: -260px;
}
.sidr.left {
  left: -260px;
  right: auto;
}
.sidr h1,
.sidr h2,
.sidr h3,
.sidr h4,
.sidr h5,
.sidr h6 {
  font-size: 11px;
  font-weight: normal;
  padding: 0 15px;
  margin: 0 0 5px;
  color: white;
  line-height: 24px;
}
.sidr p {
  font-size: 13px;
  margin: 0 0 12px;
}
.sidr p a {
  color: rgba(255, 255, 255, 0.9);
}
.sidr > p {
  margin-left: 15px;
  margin-right: 15px;
}
.sidr ul {
  display: block;
  margin: 0 0 15px;
  padding: 0;
}
.sidr ul li {
  display: block;
  margin: 0;
  line-height: 48px;
  border-bottom: 1px solid #d85b5b;
  text-transform: uppercase;
}
.sidr ul li:hover,
.sidr ul li.active,
.sidr ul li.sidr-class-active {
  border-top: none;
  color: #af2c3f;
}
.sidr ul li:hover > a,
.sidr ul li:hover > span,
.sidr ul li.active > a,
.sidr ul li.active > span,
.sidr ul li.sidr-class-active > a,
.sidr ul li.sidr-class-active > span {
  color: #af2c3f;
}
.sidr ul li a,
.sidr ul li span {
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: white;
}
.sidr ul li ul {
  border-bottom: none;
  margin: 0;
}
.sidr ul li ul li {
  line-height: 40px;
  font-size: 13px;
}
.sidr ul li ul li:last-child {
  border-bottom: none;
}
.sidr ul li ul li:hover,
.sidr ul li ul li.active,
.sidr ul li ul li.sidr-class-active {
  border-top: none;
  line-height: 41px;
}
.sidr ul li ul li a,
.sidr ul li ul li span {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 30px;
}
.sidr form {
  margin: 0 15px;
}
.sidr label {
  font-size: 13px;
}
.sidr input[type="text"],
.sidr input[type="password"],
.sidr input[type="date"],
.sidr input[type="datetime"],
.sidr input[type="email"],
.sidr input[type="number"],
.sidr input[type="search"],
.sidr input[type="tel"],
.sidr input[type="time"],
.sidr input[type="url"],
.sidr textarea,
.sidr select {
  width: 100%;
  font-size: 13px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.6);
  display: block;
  clear: both;
}
.sidr input[type=checkbox] {
  width: auto;
  display: inline;
  clear: none;
}
.sidr input[type=button],
.sidr input[type=submit] {
  color: #333333;
  background: white;
}
.sidr input[type=button]:hover,
.sidr input[type=submit]:hover {
  background: rgba(255, 255, 255, 0.9);
}
/*
|-------------------------------------------------------------------------
|  posts
|-------------------------------------------------------------------------
*/

.row .post {
  position: relative;
  padding-bottom: 10px;
  display: block;
  background: #111111;
  margin: 0 0 30px 0;
}
@media only screen and (min-width: 950px) and (max-width: 1128px), only screen and (min-width: 1129px) {
  .row .post {
    padding: 0 !important;
  }
}
.row .post .created_at {
  color: #ee3a4f;
}
.row .post h3 {
  padding-bottom: 5px;
  border-bottom: 2px #555555 solid;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .row .post h3 {
    margin-top: 30px;
  }
}
.row .post h3 a {
  text-decoration: none;
  color: white;
}
.row .post p {
  color: #999999;
  font-size: 0.9em;
}
@media only screen and (min-width: 530px) and (max-width: 949px) {
  .row .post img {
    width: 100%;
  }
}
@media only screen and (max-width: 529px) {
  .row .post img {
    display: none;
  }
}
@media only screen and (min-width: 1028px) {
  .row .post img {
    margin-left: -15px;
  }
}
.btn-see-more {
  position: absolute;
  bottom: 0;
  right: 15px;
  background: url('../img/icon-see-more.png') transparent;
  width: 24px;
  height: 24px;
  display: block;
}
.see-more-posts {
  width: 100%;
  text-align: center;
  padding: 15px;
  background: #ee3a4f;
  color: white;
  display: block;
}
.see-more-posts:hover {
  background: #af2c3f;
  color: white;
}
/*
|-------------------------------------------------------------------------
|	sidebar
|-------------------------------------------------------------------------
*/

.sidebar {
  background: #111111;
  padding: 15px;
}
@media only screen and (min-width: 1129px), only screen and (min-width: 950px) and (max-width: 1128px) {
  .sidebar {
    padding: 30px;
  }
}
.sidebar h3 {
  color: #ee3a4f;
  text-align: center;
  margin: 5px 0 15px 0;
  text-transform: uppercase;
  font-size: 20px;
}
.sidebar h5 {
  text-align: center;
  color: white;
  line-height: 20px;
}
/*
|-------------------------------------------------------------------------
|	tweets
|-------------------------------------------------------------------------
*/

.tweets-list .media {
  background: rgba(1, 1, 1, 0.5);
  color: white;
  font-size: 0.9em;
  margin-bottom: 10px;
  padding: 5px;
}
.tweets-list .media p {
  font-weight: normal;
}
.tweets-list .media a {
  color: #005aa9;
}
.title-twitter {
  margin-top: 30px !important;
}
.created_at {
  font-size: 0.8em;
  color: #747373;
}
/*
|-------------------------------------------------------------------------
|	ideas
|-------------------------------------------------------------------------
*/

#ideas-list div {
  float: left;
  margin-bottom: 30px;
  width: 100%;
}
#ideas-list p {
  width: 100%;
  position: relative;
  display: block;
  background: rgba(255, 255, 255, 0.78);
  padding: 10px;
  margin: 0 0 0 0;
  font-size: 0.9em;
}
#ideas-list .btn {
  margin: 5px 0 0 0;
  float: right;
  border-radius: 2px;
  color: white;
}
@media only screen and (min-width: 950px) and (max-width: 1128px), only screen and (min-width: 1129px) {
  #ideas-list .btn {
    padding: 5px 30px 5px 30px;
  }
}
#ideas-list a {
  color: #ee3a4f;
  float: right;
  margin: 7px 10px 0 0;
}
/*
|-------------------------------------------------------------------------
|	form idea
|-------------------------------------------------------------------------
*/

#idea_form_store {
  margin-bottom: 60px;
}
#idea_form_store input,
#idea_form_store textarea {
  background: white;
}
.alertify,
.alertify-show,
.alertify-log {
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */

}
.alertify-hide {
  -webkit-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* easeInBack */

}
.alertify-log-hide {
  -webkit-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  /* easeInBack */

}
.alertify-cover {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  filter: alpha(opacity=0);
  opacity: 0;
}
.alertify-cover-hidden {
  display: none;
}
.alertify {
  position: fixed;
  z-index: 99999;
  top: 50px;
  left: 50%;
  width: 550px;
  margin-left: -275px;
  opacity: 1;
}
.alertify-hidden {
  -webkit-transform: translate(0, -150px);
  -moz-transform: translate(0, -150px);
  -ms-transform: translate(0, -150px);
  -o-transform: translate(0, -150px);
  transform: translate(0, -150px);
  opacity: 0;
  display: none;
}
/* overwrite display: none; for everything except IE6-8 */

:root * > .alertify-hidden {
  display: block;
  visibility: hidden;
}
.alertify-logs {
  position: fixed;
  z-index: 5000;
  top: 60px;
  right: 30px;
  width: 300px;
}
.alertify-logs-hidden {
  display: none;
}
.alertify-log {
  display: block;
  margin-top: 10px;
  position: relative;
  right: -300px;
  opacity: 0;
}
.alertify-log-show {
  right: 0;
  opacity: 1;
}
.alertify-log-hide {
  -webkit-transform: translate(300px, 0);
  -moz-transform: translate(300px, 0);
  -ms-transform: translate(300px, 0);
  -o-transform: translate(300px, 0);
  transform: translate(300px, 0);
  opacity: 0;
}
.alertify-dialog {
  padding: 25px;
}
.alertify-resetFocus {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.alertify-inner {
  text-align: center;
}
.alertify-text {
  margin-bottom: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
}
.alertify-button,
.alertify-button:hover,
.alertify-button:active,
.alertify-button:visited {
  background: none;
  text-decoration: none;
  border: none;
  /* line-height and font-size for input button */
  line-height: 1.5;
  font-size: 100%;
  display: inline-block;
  cursor: pointer;
  margin-left: 5px;
}
.alertify-isHidden {
  display: none;
}
@media only screen and (max-width: 680px) {
  .alertify,
  .alertify-logs {
    width: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .alertify {
    left: 5%;
    margin: 0;
  }
}
/*
|-------------------------------------------------------------------------
|	style
|-------------------------------------------------------------------------
*/

.alertify {
  background: white;
  border: 1px solid #8e8e8e;
  /* browsers that don't support rgba */
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding;
  /* Safari 4? Chrome 6? */
  -moz-background-clip: padding;
  /* Firefox 3.6 */
  background-clip: padding-box;
  /* Firefox 4, Safari 5, Opera 10, IE 9 */

}
.alertify-log {
  background: #d9edf7;
  padding: 8px 14px;
  color: #3a8abf;
}
.alertify-log-error {
  color: white;
  background: #d33f2f;
}
.alertify-log-success {
  color: white;
  background: #47a447;
}
/*!
 * FullCalendar v1.6.4 Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */

.fc {
  direction: ltr;
  text-align: left;
}
.fc table {
  border-collapse: collapse;
  border-spacing: 0;
}
html .fc,
.fc table {
  font-size: 1em;
}
.fc td,
.fc th {
  padding: 0;
  vertical-align: top;
}
/* Header
------------------------------------------------------------------------*/

.fc-header {
  background: rgba(0, 1, 30, 0.5);
  color: white;
}
.fc-header td {
  padding: 15px;
  white-space: nowrap;
}
.fc-header-left {
  width: 25%;
  text-align: left;
}
.fc-header-center {
  text-align: center;
}
.fc-header-right {
  width: 25%;
  text-align: right;
}
.fc-header-title {
  display: inline-block;
  vertical-align: top;
}
.fc-header-title h2 {
  margin-top: 0;
  white-space: nowrap;
}
.fc .fc-header-space {
  padding-left: 10px;
}
.fc-header .fc-button {
  margin-bottom: 1em;
  vertical-align: top;
}
/* buttons edges butting together */

.fc-header .fc-button {
  margin-right: -1px;
}
.fc-header .fc-corner-right,
/* non-theme */ .fc-header .ui-corner-right {
  /* theme */
  margin-right: 0;
  /* back to normal */

}
/* button layering (for border precedence) */

.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
  z-index: 2;
}
.fc-header .fc-state-down {
  z-index: 3;
}
.fc-header .fc-state-active,
.fc-header .ui-state-active {
  z-index: 4;
}
/* Content
------------------------------------------------------------------------*/

.fc-content {
  background: #f0f0f0;
  clear: both;
  zoom: 1;
  /* for IE7, gives accurate coordinates for [un]freezeContentHeight */

}
.fc-view {
  width: 100%;
  overflow: hidden;
}
/* Cell Styles
------------------------------------------------------------------------*/

.fc-widget-header,
/* <th>, usually */ .fc-widget-content {
  /* <td>, usually */
  border: 1px solid #cccccc;
}
.fc-state-highlight {
  /* <td> today cell */
  /* TODO: add .fc-today to <th> */
  background: white;
  border: 1px solid white;
}
.fc-cell-overlay {
  /* semi-transparent rectangle while dragging */
  background: #bce8f1;
  opacity: .3;
  filter: alpha(opacity=30);
  /* for IE */

}
/* Buttons
------------------------------------------------------------------------*/

.fc-button {
  position: relative;
  display: inline-block;
  padding: 0 .6em;
  overflow: hidden;
  height: 1.9em;
  line-height: 1.9em;
  white-space: nowrap;
  cursor: pointer;
}
.fc-state-default {
  /* non-theme */
  border: 1px solid;
}
/*
	Our default prev/next buttons use HTML entities like &lsaquo; &rsaquo; &laquo; &raquo;
	and we'll try to make them look good cross-browser.
*/

.fc-text-arrow {
  margin: 0 .1em;
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
  vertical-align: baseline;
  /* for IE7 */

}
.fc-button-prev .fc-text-arrow,
.fc-button-next .fc-text-arrow {
  /* for &lsaquo; &rsaquo; */
  font-weight: bold;
}
/* icon (for jquery ui) */

.fc-button .fc-icon-wrap {
  position: relative;
  float: left;
  top: 50%;
}
.fc-button .ui-icon {
  position: relative;
  float: left;
  margin-top: -50%;
  *margin-top: 0;
  *top: -50%;
}
/*
  button states
  borrowed from twitter bootstrap (http://twitter.github.com/bootstrap/)
*/

.fc-state-default {
  background-color: #555555;
  color: #333333;
}
.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled {
  color: #333333;
  background-color: #e6e6e6;
}
.fc-state-hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.fc-state-down,
.fc-state-active {
  background-color: #cccccc;
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.fc-state-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  box-shadow: none;
}
/* Global Event Styles
------------------------------------------------------------------------*/

.fc-event-container > * {
  z-index: 8;
}
.fc-event-container > .ui-draggable-dragging,
.fc-event-container > .ui-resizable-resizing {
  z-index: 9;
}
.fc-event {
  border: 1px solid #490a05;
  /* default BORDER color */
  background-color: #6e1615;
  /* default BACKGROUND color */
  color: white;
  /* default TEXT color */
  font-size: .85em;
  cursor: default;
}
a.fc-event {
  text-decoration: none;
}
a.fc-event,
.fc-event-draggable {
  cursor: pointer;
}
.fc-rtl .fc-event {
  text-align: right;
}
.fc-event-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fc-event-time,
.fc-event-title {
  padding: 0 1px;
}
.fc .ui-resizable-handle {
  display: block;
  position: absolute;
  z-index: 99999;
  overflow: hidden;
  /* hacky spaces (IE6/7) */
  font-size: 300%;
  /* */
  line-height: 50%;
  /* */

}
/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
  border-width: 1px 0;
  margin-bottom: 1px;
}
/* resizable */

.fc-event-hori .ui-resizable-e {
  top: 0           !important;
  /* importants override pre jquery ui 1.7 styles */
  right: -3px !important;
  width: 7px       !important;
  height: 100%     !important;
  cursor: e-resize;
}
.fc-event-hori .ui-resizable-w {
  top: 0           !important;
  left: -3px !important;
  width: 7px       !important;
  height: 100%     !important;
  cursor: w-resize;
}
.fc-event-hori .ui-resizable-handle {
  _padding-bottom: 14px;
  /* IE6 had 0 height */

}
/* Reusable Separate-border Table
------------------------------------------------------------*/

table.fc-border-separate {
  border-collapse: separate;
}
.fc-border-separate th,
.fc-border-separate td {
  border-width: 1px 0 0 1px;
}
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
  border-right-width: 1px;
}
.fc-border-separate tr.fc-last th,
.fc-border-separate tr.fc-last td {
  border-bottom-width: 1px;
}
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
  border-top-width: 0;
}
/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
  text-align: center;
}
.fc .fc-week-number {
  width: 22px;
  text-align: center;
}
.fc .fc-week-number div {
  padding: 0 2px;
}
.fc-grid .fc-day-number {
  float: right;
  padding: 0 2px;
}
.fc-grid .fc-other-month .fc-day-number {
  opacity: 0.3;
  filter: alpha(opacity=30);
  /* for IE */

  /* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */

}
.fc-grid .fc-day-content {
  clear: both;
  padding: 2px 2px 1px;
  /* distance between events and day edges */

}
/* event styles */

.fc-grid .fc-event-time {
  font-weight: bold;
}
/* right-to-left */

.fc-rtl .fc-grid .fc-day-number {
  float: left;
}
.fc-rtl .fc-grid .fc-event-time {
  float: right;
}
/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
  border-collapse: separate;
}
.fc-agenda-days th {
  text-align: center;
}
.fc-agenda .fc-agenda-axis {
  width: 50px;
  padding: 0 4px;
  vertical-align: middle;
  text-align: right;
  white-space: nowrap;
  font-weight: normal;
}
.fc-agenda .fc-week-number {
  font-weight: bold;
}
.fc-agenda .fc-day-content {
  padding: 2px 2px 1px;
}
/* make axis border take precedence */

.fc-agenda-days .fc-agenda-axis {
  border-right-width: 1px;
}
.fc-agenda-days .fc-col0 {
  border-left-width: 0;
}
/* all-day area */

.fc-agenda-allday th {
  border-width: 0 1px;
}
.fc-agenda-allday .fc-day-content {
  min-height: 34px;
  /* TODO: doesnt work well in quirksmode */
  _height: 34px;
}
/* divider (between all-day and slots) */

.fc-agenda-divider-inner {
  height: 2px;
  overflow: hidden;
}
.fc-widget-header .fc-agenda-divider-inner {
  background: #eeeeee;
}
/* slot rows */

.fc-agenda-slots th {
  border-width: 1px 1px 0;
}
.fc-agenda-slots td {
  border-width: 1px 0 0;
  background: none;
}
.fc-agenda-slots td div {
  height: 20px;
}
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
  border-top-width: 0;
}
.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
  border-top-style: dotted;
}
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
  *border-top-style: solid;
  /* doesn't work with background in IE6/7 */

}
/* Vertical Events
------------------------------------------------------------------------*/

.fc-event-vert {
  border-width: 0 1px;
}
.fc-event-vert.fc-event-start {
  border-top-width: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.fc-event-vert.fc-event-end {
  border-bottom-width: 1px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.fc-event-vert .fc-event-time {
  white-space: nowrap;
  font-size: 10px;
}
.fc-event-vert .fc-event-inner {
  position: relative;
  z-index: 2;
}
.fc-event-vert .fc-event-bg {
  /* makes the event lighter w/ a semi-transparent overlay  */
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  opacity: .25;
  filter: alpha(opacity=25);
}
.fc .ui-draggable-dragging .fc-event-bg,
/* TODO: something nicer like .fc-opacity */ .fc-select-helper .fc-event-bg {
  display: none\9;
  /* for IE6/7/8. nested opacity filters while dragging don't work */

}
/* resizable */

.fc-event-vert .ui-resizable-s {
  bottom: 0        !important;
  /* importants override pre jquery ui 1.7 styles */
  width: 100%      !important;
  height: 8px      !important;
  overflow: hidden !important;
  line-height: 8px !important;
  font-size: 11px  !important;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
}
.fc-agenda .ui-resizable-resizing {
  /* TODO: better selector */
  _overflow: hidden;
}
/*
|-------------------------------------------------------------------------
|	banco-ideas-list
|-------------------------------------------------------------------------
*/
.banco-ideas-container {
  float: left;
  width: 100%;
  background: #111111;
  padding: 15px;
}
@media only screen and (min-width: 950px) and (max-width: 1128px), only screen and (min-width: 1129px) {
  .banco-ideas-container {
    padding: 30px;
  }
}
.banco-ideas-container h2 {
  color: #ee3a4f;
  text-transform: uppercase;
  text-align: center;
  font-size: 24px;
}
.banco-ideas-container h4 {
  text-align: center;
  color: white;
  font-weight: normal;
  line-height: 28px;
}
.banco-ideas-container hr {
  display: block;
  width: 100%;
  margin: 15px 0 15px 0;
}
#banco-ideas-list div {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
#banco-ideas-list p {
  width: 100%;
  position: relative;
  display: block;
  background: rgba(255, 255, 255, 0.78);
  padding: 10px;
  margin: 0 0 0 0;
  font-size: 0.9em;
  margin-bottom: 10px;
}
#banco-ideas-list a {
  color: #ee3a4f;
  float: right;
  margin-right: 10px;
}
#banco-ideas-list a:hover {
  text-decoration: none;
}
#banco-ideas-list .btn {
  color: white;
  margin: 0  0 15px 0;
  display: block;
  float: right;
  border-radius: 2px;
}
@media only screen and (min-width: 950px) and (max-width: 1128px), only screen and (min-width: 1129px) {
  #banco-ideas-list .btn {
    padding: 5px 30px 5px 30px;
  }
}
/*
|-------------------------------------------------------------------------
|	container-idea-comments
|-------------------------------------------------------------------------
*/

.container-idea-comments {
  background: #111111;
  color: white;
  padding: 30px;
}
.container-idea-comments h3 {
  color: #ee3a4f;
}
.container-idea-comments hr {
  border-color: #333333;
}
.container-idea-comments .by {
  width: 100%;
  display: block;
  color: #ee3a4f;
  font-weight: bold;
}
.container-idea-comments .by i {
  color: #888888;
  font-weight: normal;
}
.idea .by {
  width: 100%;
  display: block;
  color: #ee3a4f;
}
.idea p {
  color: #333333;
  width: 100%;
  position: relative;
  display: block;
  background: rgba(255, 255, 255, 0.78);
  padding: 10px;
  margin: 0 0 0 0;
  font-size: 0.9em;
  margin-bottom: 10px;
}
.idea a {
  color: #ee3a4f;
  float: right;
  margin-right: 10px;
}
.idea a:hover {
  text-decoration: none;
}
.idea .btn {
  color: white;
  margin: 0  0 15px 0;
  display: block;
  float: right;
  border-radius: 2px;
}
@media only screen and (min-width: 950px) and (max-width: 1128px), only screen and (min-width: 1129px) {
  .idea .btn {
    padding: 5px 30px 5px 30px;
  }
}
/*
|-------------------------------------------------------------------------
|	idea-comments
|-------------------------------------------------------------------------
*/

.idea-comments {
  width: 100%;
  margin-top: 45px;
}
.idea-comments h3 {
  color: #ee3a4f;
  font-size: 18px;
}
.idea-comments p {
  color: white;
}
.idea-comments span {
  color: #ee3a4f;
}
.comment {
  background: rgba(255, 255, 255, 0.1);
  padding: 5px;
  margin-bottom: 5px;
}
.fb-like-container {
  width: 50px;
  display: block;
  margin: 0 auto;
}
/*
|-------------------------------------------------------------------------
|   forms
|-------------------------------------------------------------------------
*/

span#calendarTitle {
  display: none;
}
#header h1,
#header h2 {
  color: white;
}
.motoa {
  width: 297px;
  height: 297px;
  float: right;
}
.form-control {
  border-radius: 0;
  background: #cccdd5;
  box-shadow: none;
  border: none;
}
/*
|-------------------------------------------------------------------------
|   video container
|-------------------------------------------------------------------------
*/

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 30px;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*
|-------------------------------------------------------------------------
|    modal
|-------------------------------------------------------------------------
*/

.modal-content {
  border-radius: 0;
}
.modal-header {
  background: #1e1e1e;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.modal-title img {
  margin-top: -5px;
}
.modal-body h2 {
  text-align: center;
}
.modal-body h2,
.modal-body h3 {
  color: #ef394f;
}
.modal-body hr {
  border-top: 1px solid dimgray;
}
.bio-intro {
  margin-top: 30px !important;
  font-size: 19px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: justify;
}
#bio .modal-body {
  font-size: 16px;
}
#bio .modal-body h2 {
  font-size: 24px;
}
#bio .modal-body h3 {
  font-size: 20px;
}
#bio .modal-body p {
  margin: 0 0 3px 0;
}
#contact .modal-header {
  border-bottom: none;
}
#contact .modal-body {
  color: white;
  text-align: center;
  background: #111111;
}
#contact .modal-body form {
  margin-bottom: 60px;
}
#contact .modal-body h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#contact .modal-body button {
  background: #ee3a4f;
  color: white;
  float: right;
}
#contact .modal-body hr {
  border-top: #686868 solid 1px;
}
#idea-comment form {
  margin-bottom: 60px;
}
#idea-comment button {
  background: #ee3a4f;
  color: white;
  float: right;
}
#proposal h2 {
  color: white;
  text-align: left;
  position: absolute;
  text-transform: uppercase;
  top: 60px;
  left: 30px;
}
@media only screen and (min-width: 950px) and (max-width: 1128px), only screen and (min-width: 1129px) {
  #proposal .modal-dialog {
    width: 800px;
  }
}
#proposal .modal-header {
  border: none;
}
#proposal .modal-body {
  padding: 0;
}
#proposal .panel-heading {
  color: #ee3a4f;
  background-color: #222222;
  border-color: #222222;
  border-radius: 0px;
}
#proposal .myTab {
  width: 100%;
  background: #222222;
  float: left;
  height: 80px;
  padding: 20px 0 0 0;
}
#proposal .myTab .active a {
  color: white;
}
#proposal .myTab li {
  height: 80px;
  width: 20%;
  float: left;
}
#proposal .myTab li a {
  border-right: 1px #333333 solid;
  color: #ee3a4f;
  text-transform: uppercase;
  width: 100%;
  display: block;
  background: #222222;
  line-height: 14px;
  text-align: center;
  font-size: 12px;
}
#proposal .myTab li a:hover {
  color: white;
  text-decoration: none;
}
#proposal .myTab li .center-link {
  padding: 5px 0 0 0;
}
#proposal .tab-content .tab-pane {
  padding: 30px;
  font-size: 15px;
}
#place-vote iframe {
  width: 100%;
  min-height: 700px;
}
@media only screen and (min-width: 950px) and (max-width: 1128px), only screen and (min-width: 1129px) {
  #place-vote .modal-dialog {
    width: 1028px;
  }
}
.place-vote {
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
.place-vote img {
  margin-right: 10px;
}
.place-vote:hover {
  color: white;
  text-decoration: none;
}
.search-place-vote {
  margin-bottom: 60px;
}
.with-bullet li {
  list-style: square;
}
/*
|-------------------------------------------------------------------------
|    btns
|-------------------------------------------------------------------------
*/

.btn {
  border-radius: 0;
  border: none;
}
.btn-danger,
.btn-primary {
  background: #ee3a4f;
}
.btn-danger .disabled,
.btn-primary .disabled {
  background: #ee3a4f !important;
}
.btn-danger:hover,
.btn-primary:hover {
  background: #af2c3f;
}
.loading {
  display: none;
  background: #91221f;
  width: 100%;
  padding: 5px 0 10px 0;
  margin-bottom: 15px;
}
.loading h3 {
  color: white;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-align: center;
  line-height: 0;
}
#idea-text {
  position: relative;
  margin-bottom: -15px;
}
.counter {
  color: #cccccc;
  position: relative;
  bottom: 5px;
  padding: 5px;
}
.motoa {
  margin: 15px 5px 0 0;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background: #ee3a4f !important;
}
.close {
  color: white;
  opacity: 1;
}
.close:hover {
  color: #dddddd;
}
footer {
  color: #eeeeee;
  padding: 15px;
}
/*
|-------------------------------------------------------------------------
|   socia
|-------------------------------------------------------------------------
*/

.social {
  padding: 0;
  width: 100%;
  height: 47px;
  text-align: center;
}
.social li {
  list-style: none;
  display: inline;
  margin-left: 5px;
}
.social li a:hover {
  opacity: 0.8;
}
h4 {
  color: white;
  text-align: center;
}
.icon-radical {
  margin: 0 auto;
  width: 238px;
  display: block;
}
hr {
  border-top: 1px solid dimgray;
}
/*
|-------------------------------------------------------------------------
|    Google maps
|-------------------------------------------------------------------------
*/

.google-maps {
  margin-top: 15px;
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
/*
|-------------------------------------------------------------------------
|   Terms and conditions
|-------------------------------------------------------------------------
*/

#terms {
  color: white;
}
#terms h3 {
  color: white;
}
#terms h5 {
  color: white;
}
.single-post {
  background: white;
  padding: 30px;
  color: #333333;
}
.single-post h3 {
  padding-bottom: 15px;
  margin: 0;
}
