/*
|-------------------------------------------------------------------------
|	Variables
|-------------------------------------------------------------------------
*/

.transition(){
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
// Colors
// -------------------------
@btn-link-1-color : #D33F2F;
@btn-link-2-color : #91221F;
@btn-link-3-color : #6D1616;
@btn-link-4-color : #490A05;
@btn-link-5-color : #1E0402;
@color_pink : #EE3A4F;
@color_gray_1 : #CCCDD5;


@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";

@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 949px)";
@desktop:     ~"only screen and (min-width: 950px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";

